
/*padding applied to elements is added within their calculated dimensions*/
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*make any images used behave fluidly*/
img {
	width: auto;
	max-width: 100%;
	height: auto !important;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

/*container for columns*/
.wrapper:after,
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*attribute selector to target and style all */
[class*='column-''] { /*take any element whose class contains the string column- & apply */
	float: left;
	padding: 1em;
	width: 100%;
	min-height: 1px;  /*makes column display properly, even without content.*/
}

/*grid breakpoints*/
@media only screen and (min-width: 30em) {
	.wrapper {
		width: 95%;
		max-width: 65em;
	}

	.column-3 {
		width: 33.33333%;
	}
}
